@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

html,
body,
html * {
    font-family: 'Roboto', sans-serif;
}


.mypanel>[class~="p-fieldset-legend"] {
    background-color: #ed4981;
    color: #ffffff;
}

.mypanelPrimary>[class~="p-fieldset-legend"] {
    background-color: #2557A7;
    color: #ffffff;
}

.first-component {
    background-color: #2557A7;
}

.font-bold-color {
    color: #EAF3FB;
}

.title-container {
    margin: 0 5rem 0 5rem;
}

.bg-pibe {
    background-color: #2557A7;
}

.text-pibe {
    color: #2557A7;
}

.extra-margin {
    margin: 0 30rem 0 30rem;
}

.bg-light-primary{
    background-color: #3f51b505;
}

.btn-light-primary{
    background-color: #3f51b52c;
}

.object-fit {
    object-fit: cover;
  }


.height-max {

    height: 14rem;

}



@media only screen and (max-width: 1500px) {
    .extra-margin {
        margin: 0 15rem 0 15rem;
    }

}

@media only screen and (max-width: 1150px) {
    .extra-margin {
        margin: 0 2rem 0 2rem;
    }

}